.sheet-wrapper {
    --bgc: #222222;
    --fgaccent: #FF0000;
    --fgstamina: #00CC00;

    color: #FFFFFF;
    background-color: var(--bgc);
    width: 100%;
    height: 100%;
    padding: 8px;
    
    font-family: 'Cambria';
}

.sheet-wrapper label {
    margin: 0;
    padding: 0;
    font-size: 1em;
    line-height: 1em;
    color: #FFFFFF;
}

input {
    background-color: var(--bgc);
    color: #FFFFFF;
    border: none;
    border-bottom: solid 2px #444444;
}

input:focus {
    outline: none !important;
    background-color: #332222;
}

.sheet-centered-number {
    text-align: center;
}

.sheet-wrapper .sheet-text-number {
    width: 3em;
}

.sheet-wrapper input[type="number"] {
    width: 3em;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button
{
    -webkit-appearance: none; 
    display: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}
input[type="number"]:not(:disabled):hover {
    -moz-appearance: number-input;
}



input[type=text] {
    width: 120px;
}

textarea {
    background-color: var(--bgc);
    border-color: #FFFFFF;
    max-width: 320px;
    min-width: 100px;
}

textarea:focus {
    outline: none !important;
    border: solid 1px var(--fgaccent); 
}


h1, h2, h3, h4, h5, h6 {
    color: var(--fgaccent);
    z-index:3;
}

.sheet-header-small-caps {
    font-size: 10px;
    text-transform: uppercase;
    font-weight: normal;
    line-height: 1em;
}

hr {
    margin: 0;
    margin-top: 2px;
    margin-bottom: 2px;
}
/********************************
        HEADER
********************************/

.sheet-splash {
    background-image: url("https://i.imgur.com/tS0zPbA.png");
    background-size: cover;
    width: 120px;
    height: 120px;
    min-width: 120px;
    min-height: 120px;
}

.sheet-row-under-field td {
    vertical-align: top;
    text-align: center;
}

.sheet-header-fields {
    height: 50px;
}

.sheet-header-fields td {
    vertical-align: bottom;
}


/********************************
        CONTAINERS
********************************/

.sheet-row-layout {
    display: flex;
}

.sheet-column {
    display: block;
    flex-grow: 0;
    margin-right: 4px;
}


.sheet-resources, .sheet-attributes-aptitudes, 
.sheet-skills, .sheet-languages, 
.sheet-weapons, .sheet-armour, 
.sheet-features, .sheet-abilities,
.sheet-readied-equipment {
    margin-bottom: 15px;
    padding: 10px;
    border: solid 1px #FFFFFF;
    border-radius: 9px;
}

.sheet-numerator {
    white-space: nowrap;
    border-bottom: solid 2px #444444;
}

.sheet-numerator input {
    display: inline-block;
    border: none;
    margin: 0;
    padding-bottom: 0;
    padding-top: 0;
}

.sheet-denominator {
    text-align: center;
}

.sheet-denominator input {
    font-size: 1.7em;
    display: block;
    border: none;
    padding-bottom: 0;
    padding-top: 0;
    margin: 0 auto;
}

/********************************
        RESOURCES
********************************/

.sheet-resource-main-table td {
    padding: 5px;
}

.sheet-resource {
    display: inline-block;
}

.sheet-resource-radial {
    display: inline-block;
}

.sheet-value-with-temp input[type="number"]:first-child {
    font-size: 1.3em;
}

.sheet-value-with-temp input[type="number"]:nth-of-type(2) {
    font-size: 1em;
}


.sheet-resource-hp .sheet-numerator input[type="number"]:first-child {
    color: var(--fgaccent);
}

.sheet-resource-stamina .sheet-numerator input[type="number"]:first-child {
    color: var(--fgstamina);
}

.sheet-resource-fate label input::after {
    display: none;
}

.sheet-resource-fate {
    display: flex;
    flex-direction: row-reverse;
}

.sheet-resource-fate input {
    transform: scale(1.2);
    margin-right: 20px;
    visibility: hidden;
    
}

.sheet-resource-fate input::after {
    background-color: #000000;
    border-radius: 12px;
    visibility: visible;
    position: relative;
    right: 4px;
    top: 3px;
    content:"t";
    font-family:"dicefontd20";
    font-size: 1.5em;
    color: #444444;
    transition: all 0.3s ease;
    padding:3px;
    padding-top:2px;
    font-weight: bold;
    margin-left: 4px;
}

.sheet-resource-fate input:checked::after {
    color: var(--fgaccent);
}

.sheet-resource-fate input:checked ~ input::after {
    color: var(--fgaccent);
}

.sheet-resource-fate label {
    display: inline-block;
    margin-top: 6px;
    margin-left: 5px;
    padding-right: 12px;
}

.sheet-resource-fate label span {
    color: #FFFFFF;
   
}

.sheet-resource-death-threshold div {
    text-align: center;
    width: 92px;
}

.sheet-resource-death-threshold input {
    font-size: 1.2em;
    display: block;
    margin: 0 auto;
}

.sheet-resource-confidence-row {
    display: flex;
    flex-direction: row-reverse;
}

.sheet-resource-confidence label {
    display: block;
}
.sheet-resource-confidence label div {
    text-align: center;
    width: 92px;
    color: #FFFFFF;
}

.sheet-resource-confidence input {
    position: relative;
    display: block;
    visibility: hidden;
    flex-grow: 1;
    margin-top: 10px;
}

.sheet-resource-confidence input::after {
    position: absolute;
    left: 0;
    top: -7px;
    visibility: visible;
    width: 100%;
    font-family: 'dicefontd4';
    font-size: 24px;
    content: "A";
    text-align: center;
    color: #FFFFFF;
    transition: all 0.3s ease;
}

.sheet-resource-confidence input:checked::after {
    color: var(--fgaccent);
}

.sheet-resource-confidence input:checked ~ input::after {
    color: var(--fgaccent);
}

/********************************
        ATTRIBUTES & APTITUDES
********************************/

.sheet-attributes {
    margin-right: 40px;
}

.sheet-attribute {
    text-transform: uppercase;
    text-align: center;
    font-size: 0.8em;
    border: solid 1px var(--fgaccent);
    border-radius: 4px;
    margin-bottom: 10px;
}

.sheet-attribute-select {
    width: 40px;
}

.sheet-attribute input[type="number"] {
    font-size: 2em;
    color: var(--fgaccent);
}

.sheet-aptitude {
    text-transform: uppercase;
    font-size: 0.8em;
    margin-bottom: 2px;
}

.sheet-aptitude input[type="number"] {
    border: none;
    color: var(--fgaccent);
    margin-bottom: 0px;
    margin-top: 0px;
    padding: 0px;
    text-align: right;
}

/**************************************
    Weapons
**************************************/
.sheet-weapon-melee-content {
    display: none;
}

.sheet-weapon-melee-flag:checked ~ .sheet-weapon-melee-content {
    display: block;
}
.sheet-weapon-ranged-content {
    display: none;
}
.sheet-weapon-ranged-flag:checked ~ .sheet-weapon-ranged-content {
    display: block;
}
.sheet-weapon-melee-content input[type="text"], .sheet-weapon-ranged-content input[type="text"] {
    width: 45px;
}


.sheet-weapon-melee-flag, .sheet-weapon-ranged-flag {
    position:relative;
    visibility:hidden;
    margin-left: 3px;
}

.sheet-weapon-melee-flag::after, .sheet-weapon-ranged-flag::after {
    display: block;
    visibility: visible;
    position: absolute;
    top:-5px;
    left:-5px;
    width:18px;
    height:17px;
    padding-top: 2px;
    text-align:center;
    transition: all 0.3s ease-out;
    color: #FFFFFF;
    background-color: #000000;
    border-radius: 9px;
}

.sheet-weapon-melee-flag:checked::after, .sheet-weapon-ranged-flag:checked::after {
    color:var(--fgaccent);
    background: none;
}

.sheet-weapon-melee-flag::after {
    content: "M";
}

.sheet-weapon-ranged-flag::after {
    content: "R";
}


/**************************************
    Armour
**************************************/
.sheet-val-adjust {
    font-size: 0.7em;
    text-align:center;
    font-style:italic;
    color: #CCCCCC;
}

.sheet-global-def {
    margin-top: 6px;
    font-size: 24px;
    color: #FFFFFF;
}

.sheet-def {
    border-radius: 11px;
    color: var(--fgaccent);
    background-color: #000000;
    border: none;
    outline: none;
}

.sheet-wrapper input.sheet-armour-local, .sheet-wrapper input.sheet-armour-global {
    width: 2em;
}

.sheet-armour-local::placeholder, .sheet-armour-global::placeholder {
    color: #000000;
    font-size: 0.7em;
    font-style: italic;
}

.sheet-armour-local {
    border-radius: 0;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border: solid 1px #FFFFFF;
    border-right: none;
    outline: none !important;
    background-color: #666666;
    text-align: center;
}

.sheet-armour-global {
    border-radius: 0;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border: solid 1px #FFFFFF;
    border-left: none;
    outline: none !important;
    background-color: #888888;
    text-align: center;
}

.sheet-armour-slot {
    margin-bottom: 5px;
}

.sheet-armour-slot span.sheet-header-small-caps {
    text-align: right;
    padding-right: 8px;
    display: inline-block;
    width: 40px;
}


/**************************************
    Items
**************************************/
.sheet-container-bottom {
    margin-bottom: 15px;

    border-radius: 0;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    border: solid 1px #FFFFFF;
    border-top: none;
}

.sheet-item-entry {
    border: solid 1px #FFFFFF;
    border-top: none;
    border-bottom: none;
    padding-left: 15px;
    padding-right: 15px;
}

.sheet-auto-center-block {
    display: block;
    margin: 0 auto;
}

.sheet-container-bottom .sheet-auto-center-block {
    width: 200px;
}

.sheet-item-wrapper .sheet-binary-content-a, .sheet-item-wrapper .sheet-binary-content-b {
    width: 100%;
    margin-right: 50px;
}

/**************************************
    repeating-with-extension
**************************************/

.sheet-repeating-with-extension {
    position: relative;
}

.sheet-repeating-with-extension:hover input[type="checkbox"].sheet-extended-content-switch + span {
    opacity: 1;
    transition: visibility 0s, opacity 0.5s linear;
}

.sheet-repeating-with-extension input[type="checkbox"].sheet-extended-content-switch + span {
    position: absolute;
    top: 0;
    right: 0;
    white-space: nowrap;
    width: 18px;
    height: 18px;
    font-family: 'Pictos';
    font-size: 1.5em;
    color: #A0A0A0;
    cursor: pointer;
    margin-top: 0px;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}

.sheet-repeating-with-extension input[type="checkbox"].sheet-extended-content-switch:checked + span {
    color: #FF0000;
}

.sheet-repeating-with-extension .sheet-extended-content-switch {
    opacity: 0;    
    position: absolute;
    top: 0;
    right: 0;
    width: 18px;
    height: 18px;
    z-index: 2;
    transform: scale(1.5);
    margin:0px;
}

.sheet-repeating-with-extension .sheet-extended-content {
    display: none;
}

.sheet-repeating-with-extension input[type="checkbox"].sheet-extended-content-switch:checked ~ .sheet-extended-content {
    display: block;
}

.sheet-extended-content > hr {
    width: 80%;
}


/**************************************
    repeating-binary-content
**************************************/

.sheet-binary-content-a, .sheet-binary-content-b {
    display: none;    
}

.sheet-binary-content-switch:checked ~ .sheet-binary-content-a {
    display: block;
}

.sheet-binary-content-switch:not(:checked) ~ .sheet-binary-content-b {
    display: block;
}

.sheet-repeating-binary-content:hover input[type="checkbox"].sheet-binary-content-switch + span {
    opacity: 1;
    transition: visibility 0s, opacity 0.5s linear;
}

.sheet-repeating-binary-content input[type="checkbox"].sheet-binary-content-switch + span {
    position: absolute;
    top: 0px;
    right: 20px;
    white-space: nowrap;
    width: 18px;
    height: 18px;
    font-family: 'Pictos';
    font-size: 1.5em;
    color: #A0A0A0;
    cursor: pointer;
    margin-top: 0px;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}

.sheet-repeating-binary-content input[type="checkbox"].sheet-binary-content-switch:checked + span {
    color: #FF0000;
}

.sheet-repeating-binary-content .sheet-binary-content-switch {
    opacity: 0;    
    position: absolute;
    top: 0px;
    right: 20px;
    width: 18px;
    height: 18px;
    z-index: 2;
    transform: scale(1.5);
    margin:0px;
}

/**************************************
    repcontrol overrides
**************************************/
.repcontrol_add {
    visibility: hidden;
}

.repcontrol_add:before {
    visibility: visible;
    font-family: 'Pictos';
    content: "+";
    font-size: 1.5em;
    color: var(--fgaccent);
}

.repcontrol_edit {
    visibility: hidden;
}

.repcontrol_edit:after {
    visibility: visible;
    font-family: 'Pictos';
    content: "(";
    font-size: 1.5em;
    color: var(--fgaccent);
}

.itemcontrol {
    z-index: 10;
}

.repcontrol {
    min-height: 32px;
}

/**************************************
    checkbox => switch display
**************************************/
.sheet-wrapper label.sheet-switch {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 60px;
    height: 20px;
    padding: 3px;
    margin: 0 0 10px 0;
    background: #000000;
    border-radius: 15px;
    box-shadow: inset 0 -1px black, inset 0 1px 1px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    box-sizing:content-box;
    font-size: 1.2em;

}
.sheet-switch-input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    box-sizing:content-box;
}

.sheet-switch-off, .sheet-switch-on {
    font-size: 10px;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    margin-top: -.5em;
    line-height: 1;
    -webkit-transition: inherit;
    -moz-transition: inherit;
    -o-transition: inherit;
    transition: inherit;
    box-sizing:content-box;
}

.sheet-switch-off {
    content: "off";
    right: 11px;
    color: #BBBBBB;
    text-shadow: 0 1px rgba(255, 255, 255, 0.5);
}

.sheet-switch-on {
    content: "on";
    left: 11px;
    color: var(--fgaccent);
    text-shadow: 0 1px rgba(0, 0, 0, 0.2);
    opacity: 0;
}


.sheet-switch-handle {
    position: absolute;
    top: 2px;
    left: 4px;
    background: #bbbbbb;
    border-radius: 100%;
    width: 22px;
    height: 22px;
    box-shadow: none;
}

.sheet-switch-handle:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -6px 0 0 -6px;
    width: 12px;
    height: 12px;
    background: #000000;
    border-radius: 6px;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
}

.sheet-switch-input:checked ~ .sheet-switch-off {
    opacity: 0;
}
.sheet-switch-input:checked ~ .sheet-switch-on {
    opacity: 1;
}

.sheet-switch-input:checked ~ .sheet-switch-handle {
    left: 40px;
    background: var(--fgaccent);
    box-shadow: none;
}




.sheet-switch-on, .sheet-switch-off, .sheet-switch-handle {
    transition: All 0.3s ease;
    -webkit-transition: All 0.3s ease;
    -moz-transition: All 0.3s ease;
    -o-transition: All 0.3s ease;
}


/****************************
       content tabs
*****************************/

div.sheet-tab-content {
    display: none;
    position: relative;
    top: 0px;
}

input.sheet-tab-main:checked ~ div.sheet-tab-main,
input.sheet-tab-inventory:checked ~ div.sheet-tab-inventory,
input.sheet-tab-levels:checked ~ div.sheet-tab-levels,
input.sheet-tab-info:checked ~ div.sheet-tab-info,
input.sheet-tab-spells:checked ~div.sheet-tab-spells {
    display: block;
}

div.sheet-content {
    position: relative;
    z-index: 0;
    border-top: solid 2px var(--fgaccent);
    padding-top: 5px;
    width: 800px;
    min-height: 800px;
}

input.sheet-tab {
    position: absolute;
    top: -25px;
    height: 25px;
    width: 75px;
    margin: 0;
    opacity: 0;
    z-index: 4;
}

input.sheet-tab-main, input.sheet-tab-main + span {
    right: 330px;
    z-index: 3;
}

input.sheet-tab-inventory, input.sheet-tab-inventory + span {
    right: 250px;
}

input.sheet-tab-levels, input.sheet-tab-levels + span {
    right: 170px;
}

input.sheet-tab-info, input.sheet-tab-info + span {
    right: 90px;
}

input.sheet-tab-spells, input.sheet-tab-spells + span {
    right: 10px;
}

input.sheet-tab + span {
    visibility: visible;
    position: absolute;
    display: block;
    width: 71px;
    top: -25px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    text-align: center;
    margin-left: 2px;
    font-size: 0.8em;
    text-transform: uppercase;
    border: solid 2px #333333;
    border-bottom: none;
    background-color: #333333;
    height: 15px;
    padding-top: 5px;
    z-index: 1;
}

input.sheet-tab:checked + span {
    z-index: 2;
    border: solid 2px var(--fgaccent);
    border-bottom: solid 3px var(--bgc);
    background-color: var(--bgc);
}
